.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    padding: 10px;

   
    height: 200px;

    background-color: lightgray;
}

p {
    margin: 0;
    color: white;
    font-weight: bold;
}

.symbol {
    
    display: flex;

    align-items: first baseline;
    justify-content: center;

    width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: 50%;
    border: 3px solid yellowgreen;

    background-color: rgba(119,136,153,1);

}

@keyframes glare {
    10% {
        background: linear-gradient(137deg, rgb(209, 95, 212) 3%, rgb(209, 95, 212) 70%);
    }
    25% {
        background: linear-gradient(137deg, rgb(209, 95, 212) 3%, rgba(255,255,255,1) 23%, rgb(209, 95, 212) 70%);
              
    }

    50% {
        background: linear-gradient(137deg, rgb(209, 95, 212) 3%, rgba(255,255,255,1) 48%, rgb(209, 95, 212) 70%); 
    }

    75% {
        background: linear-gradient(137deg, rgb(209, 95, 212) 3%, rgba(255,255,255,1) 62%, rgb(209, 95, 212) 70%);
    }

    100% {
        background: linear-gradient(137deg, rgba(119,136,153,1) 3%, rgba(119,136,153,1) 70%);
    }
}

.activeSymbol {
    position: relative;

    display: flex;

    align-items: first baseline;
    justify-content: center;

    width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: 50%;
    border: 3px solid yellowgreen;

    background-color: rgb(209, 95, 212);
    animation: 500ms linear  alternate glare;
}