.list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 3px;
    row-gap: 3px; */
    /* margin: 20px auto 0 auto; */
    padding: 10px;

    /* width: 90%; */
    height: 200px;

    background-color: lightgray;
}

p {
    margin: 0;
    color: white;
    font-weight: bolder;
}

.symbol {
    
    display: flex;

    align-items: first baseline;
    justify-content: center;

    width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: 50%;
    border: 2px solid yellowgreen;

    background-color: lightslategray;

    
    
}

.glare {
    animation: 1s linear 0s infinite alternate glare;
}

@keyframes glare {
    from {
        background: linear-gradient(137deg, rgba(68,100,99,1) 3%, rgba(252,252,252,1) 57%, rgba(68,100,99,0.8071603641456583) 70%);
    }
    to {
        background: linear-gradient(137deg, rgba(255,255,255,0) 3%, rgba(252,252,252,1) 57%, rgba(142,182,106,0.7));
    }
  }

.activeSymbol {
    position: relative;

    display: flex;

    align-items: first baseline;
    justify-content: center;

    width: 20px;
    height: 20px;
    padding: 2px;

    border-radius: 50%;
    border: 2px solid yellowgreen;

    background-color: rgb(209, 95, 212);
}